git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
google-api-python-client==1.2
httplib2==0.8
requests==2.2.1
simplejson==3.4.0
wsgiref==0.1.2
