<!doctype html>
<html lang="en">
    <head>
        <title>Safe Route</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="content-language" content="en" />
        <!--<meta name="viewport" content="width=device-width,initial-scale=1" />-->
        <meta name="viewport" content="width=device-width, minimal-ui">
        <link type="text/css" rel="stylesheet" href="./static/third_party/css/jquery-mobile-1.0/jquery.mobile.css" />
        <link type="text/css" rel="stylesheet" href="./static/third_party/css/jquery-mobile-1.0/jquery.datetimepicker.css" />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script> 
        <script type="text/javascript" src="./static/third_party/js/jquery-1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="./static//third_party/js/jquery-mobile-1.0/jquery.mobile.min.js"></script>
        <script type="text/javascript" src="./static/ui/jquery.ui.map.js"></script>
        <script src="./static/third_party/js/jquery.datetimepicker.js"></script>
        <script src="./static/third_party/js/date.js"></script>
        <script type="text/javascript" src="./static/js/index.js"></script>
    </head>
    <body>



        <div id="home" data-role="page"  style="background: #000000">


            <div data-role="content" >					
                <img id="topImg" src="static/images/logo_homepage/logo_homepage.png" width="100" height="100" style="display: block; margin: 0 auto">
                <br/>
                 <img id="topImg" src="static/images/SafeRouteTitleHomepage/SafeRoute_homepage.png" width="200" height="30" style="display: block; margin: 0 auto">
                <br/>
                <img id="safeR" src="static/images/SafeRouteButtonHomepage/SafeRoute_button_homepage.png" style="display: block; margin: 0 auto" width="300" height="55" onclick="location.href = '#basic_map'"/><br/>
                <img id="reportRoute" src="static/images/ReportButtonHomepage/Report_button_homepage.png" style="display: block; margin: 0 auto" width="300" height="55" onclick="location.href = '#report_page'"/>

            </div>

        </div>

        <div id="basic_map" data-role="page">
            <div data-role="header" style="background: #000000">
                <div>
                    <!--<a href='javascript:history.back();' data-rel="back">Back</a>-->
                    <span style="float: left">
                        <table>
                            <tr>
                                <td><img src="static/images/logo_favicon_subpage/logo_subpage.png" onclick="javascript:history.back();" width="30"/></td>
                                <td style="padding-top: 10px" onclick="javascript:history.back();"> <span style="font-size:20px ;font-style: italic">Safe</span><span style="font-size:20px ;">Route</span></td>
                            </tr>
                        </table> 
                    </span>
                    <span>
                        <img src="static/images/plus.png" style="float:right;padding-top: 5px" onclick="window.location = '#report_page'">
                    </span>
                </div>

            </div>
            <div data-role="content"  data-theme="d" id="mapScreenArea">
                <div id="planPanel" style="display:none">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: center" id="driving">
                                <img src="static/images/driveSelected/drive_selected.jpg" width="35" onclick="selectTravelMode('driving');"/>
                            </td>
                            <td style="text-align: center;padding-bottom: 4px" id="TRANSIT">
                                <img src="static/images/busSelected/bus_selected.jpg" width="35" height="34" onclick="selectTravelMode('TRANSIT');"/>
                            </td>
                            <td style="text-align: center;" id="walking">
                                <img src="static/images/walkSelected/walk_selected.jpg" width="35"  height="34" onclick="selectTravelMode('walking');"/>
                            </td>
                            <td style="text-align: center" id="BICYCLING">
                                <img src="static/images/bikeSelected/bike_selected.jpg" width="35" onclick="selectTravelMode('BICYCLING');"/>
                            </td>                         

                        </tr>
                    </table>

                    <br/>

                    <!--table style="width:100%" >
                        <tr>
                            <td style="width:50%">
                                Record you trip safety
                            </td>
                            <td style="width:20%">
                                <select  data-role="slider" id="toggle1" >
                                    <option value="off">Off</option>
                                    <option value="on">On</option>
                                </select> 
                            </td>
                        </tr>
                    </table >
                    <br/ -->

                    <table style="width:100%" >
                        <tr>
                            <td style="width:50%">
                                Show unsafe areas
                            </td>
                            <td style="width:20%">
                                <select  data-role="slider" id="unsafeRoute"  data-track-theme="b" onchange="showUnsafeRoute();">
                                    <!-- Need to fix after the demo -->
                                    <option value="on">On</option>
                                    <option value="off">Off</option>                                    
                                </select> 
                            </td>
                        </tr>
                    </table>
                    <table style="width:100%;padding-top: 10px" >
                        <tr>
                            <td style="width:50%">
                                Route type
                            </td>
                            <td style="width:20%">
                                <select  data-role="slider" id="routeType" data-theme="c" data-track-theme="b" onchange="calculateRoute();">
                                    <!-- Need to fix after the demo -->
                                    <option value="time">Time</option>
                                    <option value="safe">Safe</option>
                                </select> 
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="showspace" style="display:none;"><br/><br/></div>
                <div >
                    <ul data-role="listview" >
                        <image src="static/images/handle.png" id="handle" onclick="togglePlanPanel();" width="100%" height="18px"/>
                        <li >
                            <input placeholder="Current location" name="from" id="from" />
                        </li>
                        <li >
                            <input placeholder="Enter destination" name="to" id="to" />
                        </li>

                        <!--<a data-icon="search" style="height: 28px" data-role="button" href="#" id="submit">Get directions</a>-->

                    </ul>

                </div>
                
                <!-- div id="directions" style="margin:0 auto; width:250px;" data-role="controlgroup" data-type="horizontal">

                    <table> <tr><td>
                                <button id="submit">Directions</button>
                            </td>
                            <td>
                                <button id="clear-button" onclick="location.reload()">Reset</button>
                            </td>
                        </tr>
                    </table>
                </div --> 
                <div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span><h1>loading</h1></div>
                <br/>

                <div class="ui-bar-c ui-corner-all ui-shadow">
                    <div   id="saferoute_map_canvas"  ></div >
                </div>
                <image src="static/images/red_handle.png" id="red_handle"  width="100%" height="8px" style="display: none"/>
                <div id="numIncidents">
                </div>
              
                    <div id="routeDirections" >
                         
                    </div>
                                   

            </div>

        </div>
        <div id="report_form" data-role="page">
            <div data-role="header" style="background: #000000">
                <span style="float: left">
                    <table>
                        <tr>
                            <td><img src="static/images/logo_favicon_subpage/logo_subpage.png" width="30" onclick="window.location = '#report_page'"/></td>
                            <td> <span style="font-size:20px;">Submit a Report</span></td>
                        </tr>
                    </table> 
                </span>
            </div> 
            <div data-role="content" data-theme="d">

                <div>Select Date and Time <input class="date-time-picker-class"/></div><br/>
                <div>Select incident</div>
                <table>
                    <tr><td style="width:50px"  ><input type="radio"  class="incidence-class" name="incidence" checked value="Whistling" />
                        </td><td>Whistling</td></tr>
                    <tr><td><input type="radio" class="incidence-class" name="incidence" value="Eve teasing"/></td><td>Eve teasing</td></tr>
                    <tr><td><input type="radio" class="incidence-class" name="incidence" value="Molestation"/></td><td>Molestation</td></tr>
                    <tr><td><input type="radio" class="incidence-class" name="incidence" value="Chain snatching"/></td><td>Chain snatching</td></tr>
                    <tr><td><input type="radio" class="incidence-class" name="incidence" value="Rape"/></td><td>Rape </td></tr>
                    <tr><td><input type="radio" class="incidence-class" name="incidence" value="Others"/></td><td>Others </td></tr>
                </table>
                <br/>
                <div> Description:<textarea id="description" cols="40" name="textarea-1" id="textarea-1" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"></textarea> </div>
                <div style="margin:0 auto; width:170px;height: 20px" id="repStatus"></div>
                <div id="report-submit-button-canvas" style="margin:0 auto; width:200px;" data-role="controlgroup" data-type="horizontal">
                    <table> <tr><td>
                                <button id="submit-button">Submit</button>
                            </td>
                            <td>
                                <button id="clear-button" onclick="window.location = '#report_page'">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div> 

            </div>
        </div>
        <div id="report_page" data-role="page" >
            <div data-role="header" style="background: #000000">
                <span style="float: left">
                    <table>
                        <tr>
                            <td><img src="static/images/logo_favicon_subpage/logo_subpage.png" onclick="window.location = '#home'" width="30" ></td>
                            <td> <span style="font-size:20px;">Create a Report</span></td>
                        </tr>
                    </table> 
                </span>
                <!--<img src="images/ic_launcher.png" data-rel="back">--> 
            </div>
            <div data-role="content" data-theme="d">
                <div id="address-canvas" align="center" style="margin-top:1px">
                    <!--<label>Click on the map or enter street address: </label>-->
                    <input placeholder="Enter an address or click on map" style="width:90%;" onFocus="geolocate()" type="text" id="address-box"></input>
                </div>

                <div id="report-map-canvas" style="display: flex;margin-top:10px;" class="ui-bar-c ui-corner-all ui-shadow" ></div>
                <div id="report-button-canvas" style="margin:0 auto; width:180px;" data-role="controlgroup" data-type="horizontal">
                    <br/>                     
                    <button id="clear-button" onclick="clearReportMarkers();">Clear location</button>

                </div> 
            </div>
        </div>


    </body>
</html>
